.category-carousel-container {
    top: 5rem;

    .category-carousel {
        display: flex;
        gap: 2rem;
        grid-column: 2;

        button {
            width: 5rem;

            img {
                width: 100%;
            }
        }
    }
}